body{-webkit-font-smoothing: antialiased;}
* { margin: 0; padding: 0; box-sizing: border-box; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color: inherit; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
img { border: none; vertical-align: top; }
img, video { max-width: 100%; }
em { font-style: normal; }
strong { font-weight: normal; }
table { border-collapse: collapse; border: none; }
th { text-align: left; font-weight: normal; }
caption { width: 0; height: 0; overflow: hidden; font-size: 1px; color: transparent; }
fieldset { border: none; }
legend { position: absolute; left: -9999px; }
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] { border: 1px solid #aaa; background: #fff; }
.blind { position: absolute; left: -9999px; }
.hide { display: none; }
